#root {
  margin: 0 auto;
  text-align: center;
}

#wrapper {
  /* display: grid; */
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
    "header main";
}

main {
  grid-area: 'main';
  display: flex;
  flex-flow: column wrap;
}

